# Python caches
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Data files
*.csv
*.json
*.sqlite3

# Logs
*.log

# IDE files
.vscode/
.idea/

*.pth
.checkpoints/
.checkpoints/
data/faiss_index/
*.pth
*.index
model_cache/
