fastapi
uvicorn
sentence-transformers
faiss-cpu
numpy
pytest
pytest-mock
httpx
git+https://github.com/facebookresearch/ImageBind.git
torch
torchvision
torchaudio
pandas
pathlib
openpyxl         
PyPDF2  
python-multipart

