# © 2025 Kittycash Team. All rights reserved to Trustnet Systems LLP.

fastapi
uvicorn
sentence-transformers
faiss-cpu
numpy
pytest
pytest-mock
httpx
git+https://github.com/facebookresearch/ImageBind.git
torch
torchvision
torchaudio
